map_height=99
map_width=99
tile_height=128
tile_width=128
tile_grass_speed=10
tile_grass_health=3
tile_forest_speed=5
tile_forest_speed=5
tile_water_speed=3
tile_water_health=7
tile_rock_speed=3
tile_rock_health=10
player_speed=7
player_aura=1
player_mana=100
player_mana_recharge=2
aura_grass_cost=10
aura_forest_cost=20
aura_water_cost=20
aura_rock_cost=40
